.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

}

ul {
  list-style: none;
  height: 225px;
  overflow: scroll;
  background-color: slategrey;
}

h1{
  font-family: 'Cherry Swash', cursive;
}
